<!DOCTYPE html>
<html lang = "en">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content = "ie=edge">
        
        <link rel = "stylesheet" 
        href = "{{ url_for('static', filename='styles/default.css')}}" type = "text/css" />
		{% block head %}{% endblock %} 
        <!-- inserts code for all other pages -->
        <title>
        a flask page
		</title>
	</head>
<body>
    {% block body %}{% endblock %} 
<!-- header here -->

<main>	
	<h1>Introducing !!</h1>
	<figure>
		<img src="{{ url_for('static', filename='images/users/profileimage (00).png')}}" alt = "an image!" />
		<figcaption>
			a caption
		</figcaption>
	</figure>
	<ul>
        <li>a list thing</li>
        <li>another list thing</li>
    </ul>
</main>
<!-- footer here -->
</body>
</html>