{% extends 'base.htm' %}
{% block head %}

{% endblock %} 
{% block body %}

    <table>
        <tr>
            <th colspan = "3">
                You have  {{taskstoget|count}} tasks
            </th>
        </tr>
        <tr>
            <th>To-Do</th>
            <th>Date</th>
            <th>Edit</th>
        </tr>
        {% if taskstoget|length > 0 %}
            {% for task in taskstoget %}
                <tr>
                    <td>{{ task.content}}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href = "/delete/{{task.id}}">Delete</a>
                        <br/>
                        <a href = "/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %} 
                <tr>
                    <td>
                        <form action = "/" method = "POST">     
                            <input type = "text" name = "content" id = "content"/>
                    </td>
                    <td id = "currentdate">
                        <script>
                            var today = new Date();
                            var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = today.getFullYear();
                            today = yyyy + '-' + mm + '-' + dd;
                            document.getElementById("currentdate").innerHTML = today;
                        </script>
                    </td>
                    <td>
                        <input type = "submit" value = "Add this Task" />
                        </form>
                    </td>
                </tr>
   
                <tr>
                    <td>
                        <form action = "/update/{{taskToUpdate.id}}" method = "POST">     
                        <input type = "text" name = "content" 
                            id = "content"
                            value = "{{taskToUpdate.content}}" />
                    </td>
                    <td>
                        (now)
                    </td>
                    <td>
                        <input type = "submit" value = "Update Task!" />
                        </form>
                    </td>
                </tr>


        {% if taskstoget|length ==  0 %}
                <tr>
                    <td colspan = "3">
                        There are no tasks - create one!
                    </td>
                </tr>
        {% endif %}                
        
    </table>

{% endblock %} 