body
{
	font-family: tahoma, sans-serif;
	color: ivory;
	background-color: teal;
	margin-left: 200px;
	margin-right: 200px;
	font-size: 150%;
}

header, footer
{
	text-align: center;
}

main
{
	padding: 20px;
	margin: 0 auto;
}

a
{
	text-decoration: none;
	color: blueviolet;
}

a:hover
{
	text-decoration: overline underline;
}

table
{
	margin: 0 auto;
	padding: 5px;
	border: 4px double indigo;
}
th
{
	text-align: center;
}

td
{
	padding: 5px;
	border: 2px dotted ivory;
}

h1, h2, h3
{
	font-family: Times, serif;
	text-align: center;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

.attribute
{
	font-weight: bold;
}

